@import 'styles/variables.scss';

.container.home-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  height: calc(100% + 1em);
  width: 100%;
  max-width: 100%;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.95);
  background: rgba(0, 0, 0, 0.95) url('./home-bg.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 9em;
  margin-top: -1em;
  @media(min-height: 600px) and (min-width: 768px) {
    padding-top: 4.8em;
  }
  @media(min-width: 768px) {
    align-items: center;
  }
  > div {
    width: 100%;
    max-width: 300px;
    @media(min-width: 768px) {
      margin-top: -5em;
    }
  }
}
