.container.home-container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  background-color: #C4D6E5;
  background: #C4D6E5 url('./home-bg2.jpg') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 9em;
  margin-top: -1em;
  height: calc(100% + 1em);
  @media(min-width: 768px) {
    align-items: center;
    padding-top: 0;
  }
  > div {
    width: 100%;
    max-width: 300px;
    @media(min-width: 768px) {
      margin-top: -5em;
    }
  }
}
