.news-post-form {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  h2 {
    text-align: center;
  }
  .news-link {
    display: block;
    margin: 0 auto;
  }
}

.col-1 {
  flex: 1 500px;
  padding-right: 8em;
}
.col-2 {
  flex: 1 200px;
  justify-content: flex-end;
}

.dropzone {
  width: 100%;
  min-height: 200px;
  border: dashed 5px #CCC;
  background:#EEE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom:1em;
  transition: all 0.2s ease;
  &.large {
    min-width:350px;
  }
}

.dropzone-cta {
  position: absolute;
  z-index:1;
  transition: all 0.2s ease;
}


.dropzone-active {
  background:#FDFDFD;
  border-color:#EEE;
  img {
    opacity:0.4;
  }
  .dropzone-cta {
    font-size:1.1em;
    opacity:0.6;
  }
}
