@import 'styles/variables.scss';

.heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2em;
  h2 + div {
    margin-top: .5em;
    margin-left: 1em;
  }
}

.col-1 {
  @media(min-width: $bp-xs) {
    flex: 1 550px;
    padding-right: 3em;
  }
}
.col-2 {
  @media(min-width: $bp-xs) {
    flex: 1 250px;
    justify-content: flex-end;
  }
}

.news-article-form-section-heading {
  margin-bottom: 1em;
  @media(min-width: $bp-xs) {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  button {
    width: auto;
  }
}

.news-form-section {
  &.news-form-section-large {
    border: solid 1px #EEE;
    padding: 2em 2em .5em;
    box-shadow: 0 3px 22px #CACACA;
    width: calc(100% + 4em);
    margin-right: -2em;
    margin-left: -2em;
  }
  .row {
    @media(min-width: $bp-sm) {
      margin-bottom: 3em;
    }
    &.last {
      margin-bottom: 0;
    }
  }
}

.news-form-section .button-link,
.btn-new-section {
  display: flex;
  width: auto;
}
