@import 'styles/variables.scss';

.image-upload {
  .flex-container {
    @media(min-width: $bp-md) {
      display: flex;
      width: 100%;
    }
    > div {
      @media(min-width: $bp-md) {
        width: 50%;
      }
      &:first-child {
        padding-right: 1em;
      }
      &:last-child {
        padding-left: 1em;
      }
    }
  }

  .uploaded-images-contianer {
    flex-wrap: wrap;
  }

  .upload-image-list-item {
    padding: 0.25em;
    margin: 0;
    display: flex;
    align-items: flex-start;
    flex: 1 0 25%;
    width: 25%;
    max-width: 25%;
    @media(min-width: $bp-sm) {
      flex: 1 0 50%;
      width: 50%;
      max-width: 50%;
    }
    @media(min-width: $bp-md) {
      flex: 1 0 33%;
      width: 33%;
      max-width: 33.333%;
    }
  }
}
