@import 'styles/variables.scss';

.article-journalism {
  .image-container {
    max-width: 300px;
    margin: 0 0 2em;
    @media(min-width: $bp-md) {
      max-width: 100%;
      margin: 0 0 2em 0;
      padding-right: 2em;
    }
  }
}

.article-journalism-flex-root {
  @media(min-width: $bp-md) {
    display: flex;
  }
}
