@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


label {
  display: block;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

textarea {
  max-width: 1005;
}

button {
  width: 100%;
  padding: 2em;
  background: #bada55;
  border: 0 none;
  appearance: none;
}

.btn {
  background: #bada55;
  color: #000;
  margin-right: 0.5em;
}

.btn-width-auto {
  width: auto;
}

h1,h2,h3,h4,h5,h6 {
  margin-top:0;
  margin-bottom:0.5em;
}

img {
  max-width: 100%;
}

.no-list-style {
  list-style-type: none;
}

ul,
ol {
  margin:0;
  padding:0;
}

/* temp styles */

.cols-container {
  display: flex;
}

.col-clear {
  clear:both;
}

.col-33 {
  width: 33.333%;
}

.main-container {
  margin: 0;
  width: 100%;
}

.modal-dialog-large {
  min-width: 800px;
  max-width: 800px;
  top: 80px !important;
}

.article-flex-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.article-gallery-flex-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.article-gallery-item {
  flex: 1 0 33%;
  max-width: 33%;
}

.article-col-1,
.article-col-2 {
  flex:1 200px;
}

.article-col-1 {
  text-align: left;
  padding-right:2em;
}

.article-col-2 {
  text-align: right;
  padding-left: 2em;
}

.article-summary-box {
  display:flex;
  justify-content: flex-end;
}

.article-summary-box-inner {
  padding: 1em;
  background: #EEE;
}

.ButtonWrap__root___1EO_R {
  z-index: 1 !important; // maybe unsafe, without there is overflow/z-index issue
}
