@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


label {
  display: block;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

textarea {
  max-width: 1005;
}

button {
  width: 100%;
  padding: 2em;
  background: #bada55;
  border: 0 none;
  appearance: none;
}

.btn {
  background: #bada55;
  color: #000;
  margin-right: 0.5em;
}

.btn-width-auto {
  width: auto;
}

h1,h2,h3,h4,h5,h6 {
  margin-top:0;
  margin-bottom:0.5em;
}

img {
  max-width: 100%;
}

.no-list-style {
  list-style-type: none;
}

ul,
ol {
  margin:0;
  padding:0;
}

.cols-container {
  display: flex;
}

.col-clear {
  clear:both;
}

.col-33 {
  width: 33.333%;
}
