@import 'styles/variables.scss';

label {
  display: block;
  text-align: left;
}

h5,
label {
  .help-text {
    display: block;
    opacity: .5;
  }
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 1px #b7b7b7;
  font-size: .9em;
  &:focus {
    outline: solid 3px #111;
  }
  @media (min-width: $bp-xs) {
    font-size: 1em;
  }
}

textarea {
  max-width: 100%;
  font-family: $font-main;
}

.required {
  color: $color-red-3;
  font-size: .8em;
  position: relative;
  top: -5px;
  font-weight: 300;
}

@keyframes formErrorFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-error {
  display: inline-block;
  background: $color-red-1;
  color: #FFF;
  padding: 7px 20px;
  font-weight: 300;
  transition:all 0.3s ease;
  animation: formErrorFade .3s ease;
  @media(min-width: $bp-xs) {
    padding: 5px 15px;
  }
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
