$font-main: 'Rubik', sans-serif;

$bp-xxs: 25em; // 500px
$bp-xs: 37.5em; // 600px
$bp-sm: 48em; // 768px
$bp-md: 56.25em; // 900px
$bp-lg: 68.75em; // 1100px
$bp-xlg: 81.25em; // 1300px

$color-blue-1: #289BE5;
$color-blue-2: #0083D6;

$color-red-1: #C02F2F;
$color-red-2: #EE2A2A;
$color-red-3: #F35E5E;

$color-grey-1: #A0A0A0;

$color-green-1: #A0D19E;

$sidebar-width: 12.5em;
