@import 'styles/variables.scss';

.login-form {

  .text-input-container {
    @media(min-width: $bp-sm) {
      position: relative;
    }
  }

  .form-error {
    @media(min-width: $bp-sm) {
      position: absolute;
      top: .2em;
      right: calc(-70%);
    }
  }

}
