.gallery-image-upload-list {
  margin: 0;
}

.gallery-image-upload-list-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1em;
}

.gallery-image-upload-list-item img {
  max-width: 400px;
}

.gallery-image-upload-list-item-form-field-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 3em;
  .text-input-container {
    margin-bottom: 2em;
  }
}
