.root {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  h2 {
    text-align: center;
  }
  .news-link {
    display: block;
    margin: 0 auto;
  }
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {
  flex: 1 500px;
  padding-right: 3em;
}
.col-2 {
  flex: 1 200px;
  justify-content: flex-end;
}

.gallery-images-col-2 {
  font-size: 0.1em; // hide mysterious counter ('0') from react-dropzone
}
.gallery-images-flex-root {
  font-size: 30px; // counter mysterious counter ('0') from react-dropzone
}

.dropzone {
  width: 100%;
  min-height: 200px;
  border: dashed 5px #CCC;
  background:#EEE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom:1em;
  transition: all 0.2s ease;
  font-size: 0.1em; // hide mysterious counter ('0') from react-dropzone
  &.large {
    min-width:350px;
  }
}

.dropzone-cta {
  position: absolute;
  z-index: 1;
  transition: all 0.2s ease;
  text-shadow: 0 6px 6px #000;
  color: #FFF;
  font-size: 30px; // counter mysterious counter ('0') from react-dropzone
}

.dropzone-active {
  background:#FDFDFD;
  border-color:#EEE;
  img {
    opacity:0.4;
  }
  .dropzone-cta {
    font-size:1.1em;
    opacity:0.6;
  }
}
