.heading {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2em;
  h2 + div {
    margin-top: .5em;
    margin-left: 1em;
  }
}

.col-1 {
  @media(min-width: 600px) {
    flex: 1 550px;
    padding-right: 3em;
  }
}
.col-2 {
  @media(min-width: 600px) {
    flex: 1 250px;
    justify-content: flex-end;
  }
}

.gallery-images-col-2 {
  font-size: 0.1em; // hide mysterious counter ('0') from react-dropzone
}
.gallery-images-flex-root {
  font-size: 25px; // counter mysterious counter ('0') from react-dropzone
}

.links-cols-container > div {
  @media(min-width: 600px) {
    flex: 0 1 50%;
    &:first-child {
      padding-right:1em;
    }
    &:last-child {
      padding-left:1em;
    }
  }
  > div {
    margin-bottom: 2.5em;
  }
}
