.flex-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-image-upload-item {
  flex: 1 0 50%;
  max-width: 50%;
  padding-left: 0.5em;
  padding-bottom: 0.5em;
}

.dropzone {
  position: relative;
  width: 100%;
  min-height: 200px;
  border: dashed 5px #CCC;
  background:#EEE;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom:1em;
  transition: all 0.2s ease;
  font-size: 0.1em; // hide mysterious counter ('0') from react-dropzone
  &.large {
    min-width:350px;
  }
}

.dropzone-cta {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  min-height: 200px;
  align-items: center;
  transition: all 0.2s ease;
  // text-shadow: 0 3px 6px #FFF;
  color: #000;
  font-size: 25px;
  background: rgba(204, 204, 204, 0.2);
}

.dropzone-existing-image {
  .dropzone-cta {
    background: rgba(204, 204, 204, 0.7);
    span {
      background: #3A3A3A;
      color: #FFF;
      padding: .25em;
    }
  }
}

.dropzone-active {
  background:#FDFDFD; 
  border-color:#EEE;
  img {
    opacity:0.4;
  }
  .dropzone-cta {
    font-size:1.1em;
    opacity:0.6;
  }
}

.dropzone-dimensions-messages li {
  list-style-type: none;
}

.dropzone-loading {
  background: #FFF;
  width: 100%;
  height: 190px;
  position: absolute;
  top: 5px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.dropzone-loading-active {
  opacity: 1;
}

.dropzone-image-dimension-notice {
  margin-top: .2em;
  text-align: center;
  font-size: .9em;
  opacity: .5;
}
