@import 'styles/variables.scss';

.react-rte-container > div {
  border: solid 1px #B7B7B7;
}

.react-rte-container > div > div:first-child {
  border-bottom: solid 1px #B7B7B7;
}

.DraftEditor-root {
  z-index: 0;
  font-family: $font-main;
  font-size: .9em;
  @media (min-width: $bp-xs) {
    font-size: 1em;
  }
}

.public-DraftEditorPlaceholder-hasFocus {
  color: #9197a3;
}

.DraftEditor-editorContainer .public-DraftEditor-content {
  min-height: 150px;
}

