.header {
  padding-top:1em;  
}

.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.btn-logout {
  background: none;
  padding: 0;
  width: auto;
  color: #337ab7;
}
