.news-item {
  display: flex;
  align-items: flex-start;
  padding:2em 0;
  text-align:left;
  margin-bottom: 2em;
  position:relative;
  border-bottom: solid 1px #EEE;
  @media(min-width: 768px) {
    margin-bottom: 0;
  }
  > div {
    width: 100%;
  }
  img {
    display: none;
    @media(min-width: 600px) {
      display: block;
      max-width: 100px;
      margin-right: 1em;
    }
    @media(min-width: 600px) {
      margin-right: 2em;
    }
  }
  h3 {
    margin-top:0;
    margin-bottom: 0.7em;
    letter-spacing:0.5px;
    font-size: 1.3em;
    @media(min-width: 600px) {
      font-size: 1.5em;
    }
    @media(min-width: 768px) {
      font-size: 2em;
    }
    a {
      color: #000;
    }
  }
  .btn {
    width: 30%;
    min-width: 70px;
    max-width: 130px;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    @media(min-width: 600px) {
      width: auto;
    }
  }
  .small-tab {
    display: inline-flex;
    margin: 0;
    margin-bottom: 1em;
    padding: .4em .5em;
    background: #E3E3E3;
    color: #878787;
    font-weight: bold;
    font-size: .8em;
    border-radius: 3px;
    opacity: .6;

    &.inline {
      display: inline-flex;
      background: none;
      color: #C2C2C2;
      margin-left: 0.5em;
    }
  }
  .btn:hover,
  .btn:focus {
    color: #FFF;
    text-decoration: underline;
  }
}
