@import 'styles/variables.scss';

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sticky-success {    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    padding-left: $sidebar-width;
    animation: fadeOut 2s ease-in-out;
    opacity: 0;
    p {
      margin: 0;
    }
    > .inner {
      padding: 1em;
      text-align: center;
      background: $color-green-1;
      color: #000;
    }
}
