.flex-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gallery-flex-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.gallery-item {
  flex: 1 0 33%;
  max-width: 33%;
}

.col-1,
.col-2 {
  flex:1 200px;
}

.col-1 {
  text-align: left;
  padding-right:2em;
}

.col-2 {
  text-align: right;
  padding-left:2em;
}

.summary-box {
  display:flex;
  justify-content: flex-end;
}

.summary-box-inner {
  padding: 1em;
  background: #EEE;
}
