.core-layout-main-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cancel-padding {
  padding: 0;
}

.core-layout {
  padding-top: 6em;
  height: 100%;
}

.core-layout-full-screen {
  padding-top: 0;
  height: 100%;
}
