.core-layout-main-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.core-layout {
  height: 100%;
  > div {
    height: 100%;
  }
}

.main-content {
  height: 100%;
}

.main-content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .main-content {
    padding: 9em 1em 1em;
    max-width: 700px;
    width: 100%;
    @media(min-width: 600px) {
      width: auto;
    }
  }
}

// core-layout-full-screen eg, home page
.core-layout-full-screen {
  padding: 0;
  > div {
    height: 100%;
  }
  .main-content {
    padding: 0;
  }
}
