@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import 'styles/variables.scss';
@import 'styles/layout.scss';
@import 'styles/typography.scss';
@import 'styles/form.scss';
@import 'styles/buttons.scss';
@import 'styles/modal.scss';

.row-alternating-columns {

  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1em;
    > li {
      width: 100%;
      max-width: 100%;
      padding: 0 1em 1em;
      margin-bottom: 0;
    }
  }

  > li {
    display: flex;
    flex-direction: column-reverse;
    padding: 2.5em 0;
    margin-bottom: 0;
    border-bottom: solid 1px #EEE;
    @media(min-width: $bp-xxs) {
      flex-direction: row-reverse;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    &:nth-child(odd) {
      .images {
        padding-right: 2em;
      }
    }
    &:nth-child(even) {
      flex-direction: column;
      @media(min-width: $bp-xxs) {
        flex-direction: row;
      }
      .images {
        padding-left: 2em;
      }
    }
    > div {
      flex: 1 1 30%;
    }
  }
  > li.single-column-layout {
    display: block;
    > div {
      flex: initial;
    }
    .images {
      padding-right: 0;
      padding-top: 2.5em;
      padding-left: 0;
      > li {
        width: 50%;
        max-width: 50%;
      }
    }
  }
}

.article a {
  word-break: break-word;
}

.article {
  ul,ol,dl {
    margin-left: 0;
    list-style-type: none;
  }
}

.article-create {
  .article-heading {
    margin-bottom: 3em;
  }
  ul,ol, dl {
    margin-left: 0;
  }
  li {
    list-style-type: none;
  }
}

.inline-flex {
  display: inline-flex;
  align-items: baseline;
  > * {
    margin-right: 1em;
  }
}

.entity-container .flex-root {
  > div {
    &:first-child {
      @media(min-width: $bp-md) {
        width: 30%;
        max-width: 30%;
      }
    }
    &:last-child {
      @media(min-width: $bp-md) {
        width: 70%;
        max-width: 70%;
      }
    }
  }
}

.entity-container ul {
  margin-bottom: 2em;
}

div.entity-image-container {
  max-width: 300px;
  margin: 0 0 2em;
  @media(min-width: $bp-md) {
    // max-width: 100%;
    margin: 0 0 2em 0;
    padding-right: 2em;
  }
}



.sortable-list-active {
  user-select: none;
}

.sortable-list-active-item {
  list-style-type: none;
}


