@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import 'styles/variables.scss';
@import 'styles/layout.scss';
@import 'styles/typography.scss';
@import 'styles/form.scss';
@import 'styles/buttons.scss';
@import 'styles/modal.scss';

.ButtonWrap__root___1EO_R {
  z-index: 1 !important; // maybe unsafe, without there is overflow/z-index issue
}

.row-alternating-columns {
  > li {
    display: flex;
    flex-direction: column-reverse;
    padding: 2.5em 0;
    margin-bottom: 0;
    border-bottom: solid 1px #EEE;
    @media(min-width: $bp-xxs) {
      flex-direction: row-reverse;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    &:nth-child(even) {
      flex-direction: column;
      @media(min-width: $bp-xxs) {
        flex-direction: row;
      }
    }
    > div {
      flex: 1 1 30%;
    }
  }
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -1em;
    padding-right: 2em;
    > li {
      width: 100%;
      max-width: 100%;
      padding: 0 1em 1em;
      margin-bottom: 0;
    }
  }
  > li.has-multiple-images {
    display: block;
    > div {
      flex: initial;
    }
    .images {
      padding-right: 0;
      padding-top: 2.5em;
      > li {
        width: 50%;
        max-width: 50%;
      }
    }
  }
}

.article,
.article-card {
  a {
    word-break: break-word;
  }
}

.article {
  ul,ol,dl {
    margin-left: 0;
    list-style-type: none;
  }
}

.article-create {
  .article-heading {
    margin-bottom: 3em;
  }
  ul,ol, dl {
    margin-left: 0;
  }
  li {
    list-style-type: none;
  }
}

.article-card {
  display: flex;
  align-items: flex-start;
  padding:2em 0;
  text-align:left;
  margin-bottom: 2em;
  position:relative;
  border-bottom: solid 1px #EEE;
  margin-bottom: 0;
  > div {
    width: 100%;
  }
  .img-container {
    display: none;
    @media(min-width: $bp-xxs) {
      display: block;
      min-height: 150px;
      max-width: 150px;
      min-height: 120px;
      margin-right: 1em;
    }
    @media(min-width: $bp-xs) {
      margin-right: 2em;
    }
  }

  img {
    width: 100%;
  }

  h3 {
    margin-top: 0;
    margin-bottom: .15em;
    letter-spacing: .5px;
    @media(min-width: $bp-xs) {
      margin-bottom: .5em;
    }
    a {
      display: flex;
      justify-content: space-between;
      span {
        @media(min-width: $bp-md) {
          max-width: 78%;
        }
      }
    }
    .small-tab {
      display: none;
      @media(min-width: $bp-md) {
        display: block;
        justify-content: center;
        text-align: center;
        min-width: 100px;
        max-height: 25px;
        margin-top: 3px;
        margin-left: .5em;
        font-size: .45em;
        font-weight: normal;
      }
    }
  }
  .btn {
    width: 30%;
    min-width: 70px;
    max-width: 130px;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    @media(min-width: $bp-sm) {
      width: auto;
    }
  }
}

.inline-flex {
  display: inline-flex;
  align-items: baseline;
  > * {
    margin-right: 1em;
  }
}


