@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');
@import 'styles/variables.scss';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $font-main;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.container,
.main-container,
.main-container-inner {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  @media(min-width: $bp-md) {
    flex-direction: row;
    justify-content: space-between;
  }
  .col-first,
  .col-last {
    width: 100%;
  }
  > .col-first {
    @media(min-width: $bp-md) {
      width: $sidebar-width;
      min-width: $sidebar-width;
      max-width: $sidebar-width;
    }
  }
  > .col-last {
    @media(min-width: $bp-md) {
      width: calc(100% - #{$sidebar-width});
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

.row {
  margin-bottom: 2.5em;
  @media(min-width: $bp-sm) {
    margin-bottom: 1.5em;
  }
}

.row-large {
  margin-bottom: 2.5em;
  @media(min-width: $bp-sm) {
    margin-bottom: 4em;
  }
  input {
    margin-bottom: 0;
  }
  .form-error {
    margin-top: 1em;
  }
}

.container {
  max-width: 1000px;
  padding: 1em;
  @media(min-width: $bp-xs) {
    padding: 2em;
  }
  @media(min-width: $bp-md) {
    padding-top: 3.5em;
  }
}

.core-layout {
  height: 100%; 
  > div {
    height: 100%;
  }
}

.main-content {
  height: 100%;
}

.main-content-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    width: 100%;
    height: 100%;
  }
  .main-content {
    padding: 9em 1em 1em;
    max-width: 700px;
    width: 100%;
  }
}


label {
  display: block;
  text-align: left;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: solid 1px #b7b7b7;
  font-size: 1em;
  &:focus {
    outline: solid 3px #111;
  }
}


@keyframes formErrorFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-error {
  display: inline-block;
  background: $color-red-1;
  color: #FFF;
  padding: 7px 20px;
  font-weight: 300;
  transition:all 0.3s ease;
  animation: formErrorFade .3s ease;
  @media(min-width: $bp-xs) {
    padding: 5px 15px;
  }
}

textarea {
  max-width: 100%;
}

button:disabled,
button[disabled] {
  cursor: default;
}

button,
.btn,
a {
  &:focus {
    outline: auto 3px #AFAFAF;
  }
}

button,
.btn {
  border: 0 none;
  display: inline-block;
  background: $color-blue-1;
  color: #FFF;
  font-weight: 300;
  margin: 0 0 .5em 0;
  padding: .8em 1em;
  width: 100%;
  font-size: 1em;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  transition: all .3s ease;
  font-family: $font-main;
  text-align: center;
  @media (min-width: $bp-xs) {
    width: auto;
  }
  &:hover,
  &:focus {
    color: #FFF;
    background: $color-blue-2;
    text-decoration: none;
  }

  &.btn-danger {
    background: $color-red-1;
    color: #FFF;
    &:hover,
    &:focus {
      background: $color-red-2;
    }  
  }
  &.btn-sm-remove {
    position: relative;
    font-size: 0;
    &::before {
      content: 'x';
      display: block;
      position: absolute;
      top: -11px;
      width: 28px;
      height: 28px;
      left: -20px;
      line-height: 23px;
      font-size: 16px;
      color: #FFF;
      background: #cb0000;
      z-index: 999999;
      border: solid 1px #FFF;
      border-radius: 1em;
    }
  }
}

.button-link {
  padding: 0;
  text-decoration: underline;
  background: none;
  color: $color-blue-2;
  &:hover,
  &:focus {
    background: none;
    color: $color-blue-1;
  }
}

.btn-burger {
  background: none;
  color: #000;
  font-size: 1.5em;
  padding: .5em;
  transition: all .6s ease;
  width: auto;
  &:hover,
  &:focus,
  &.active {
    color: #000;
    background: none;
  }
  &:focus,
  &.active {
    outline: 0 none;
    opacity: .2;
    transform: rotate(360deg);
  }
}

.btn-sm {
  font-size: .95em;
  padding-top: .6em;
  padding-bottom: .6em;
}

button[disabled] {
  opacity: .7;
  &:hover,
  &:focus {
    background: $color-blue-1;
  }
}

.btn-lg {
  padding: 1.5em 2em;
  width: 100%;
}

.btn-width-auto {
  width: auto;
}

.btn + .btn {
  margin-top: .5em;
  margin-bottom: 0;
  @media (min-width: $bp-xs) {
    margin-top: 0;
    margin-left: 1em;
  }
}
.btns-always-inline .btn + .btn {
  margin-left: 1em;
}

a {
  color: $color-blue-2;
  &:hover,
  &:focus {
    color: $color-blue-1;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font: {
    weight: 500;
    size: 1em;
  }
  a {
    color: #000;
    text-decoration: none;
  }
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 2em;
  @media(min-width: $bp-xs) {
    font-size: 2.5em;
  }
}

h3 {
  font-size: 1.8em;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

.no-list-style {
  list-style-type: none;
}

ul,
ol {
  margin:0 0 0 1em;
  padding:0;
}

li {
  margin-bottom: .5em;
}

.cols-container {
  display: flex;
  flex-direction: column;
  > div {
    margin-bottom: 2.5em;
    @media(min-width: $bp-sm) {
      margin-bottom: 4em;
    }
  }
  @media(min-width: $bp-xs) {
    flex-direction: row;
    > div {
      width: 50%;
      &:first-child {
        padding-right: 1em;
      }
    }
  }
}

.col-clear {
  clear:both;
}

.col-33 {
  width: 33.333%;
}

.modal-dialog-large {
  min-width: 800px;
  max-width: 800px;
  top: 80px !important;
}

.article-gallery-flex-root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 -2%;
}

.article-gallery-item {
  flex: 1 0 33%;
  max-width: 33%;
  max-height: 210px;
  overflow: hidden;
  padding: 2%;
}

.ButtonWrap__root___1EO_R {
  z-index: 1 !important; // maybe unsafe, without there is overflow/z-index issue
}

label {
  font-weight: 500;
}

small,
.small {
  font-size: 75%;
}

.m-calendar {
  .current-day {
    border-color: #000 !important;
    background: #000 !important;
    color: #FFF !important;
    font-weight: normal !important;
  }
  .ion-ios-arrow-right::before,
  .ion-ios-arrow-left::before {
    display: block;
    font-size: 0.8em;
    font-weight: 300;
  }
  .ion-ios-arrow-right::before {
    content: '>';
  }
  .ion-ios-arrow-left::before {
    content: '<';
  }
}

h5,
label {
  font-size: 1em;
  margin-bottom: .5em;
}

.label-small {
  font-size: 1.2em;
}

.cancel-margin {
  margin: 0;
}

iframe {
  width: 100%;
  min-height: 250px;
  @media(min-width: $bp-xs) {
    min-height: 400px;
  }
}

.heading-with-btns {
  margin-bottom: 2em;
  @media(min-width: $bp-xs) {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .action-btns {
    @media(min-width: $bp-xs) {
      display: flex;
      align-items: flex-start;
      min-width: 161px;
    }
    @media(min-width: $bp-md) {
      justify-content: flex-end;
    }
  }
}

.heading-with-btns.long-heading {
  display: block;
  @media(min-width: $bp-md) {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1em;
    
    .btn {
      width: auto;
      position: relative;
      top: 4px;
    }

    + div {
      flex-basis: 80%;
    }

    .action-btns {
      min-width: 161px;
    }

  }
}

.row-alternating-columns {
  .cols-container:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.article,
.article-card {
  a {
    word-break: break-word;
  }
}

.article {
  ul,ol,dl {
    margin-left: 0;
    list-style-type: none;
  }
}

.article-create {
  .article-heading {
    margin-bottom: 3em;
  }
  ul,ol, dl {
    margin-left: 0;
  }
  li {
    list-style-type: none;
  }
}

.article-card {
  display: flex;
  align-items: flex-start;
  padding:2em 0;
  text-align:left;
  margin-bottom: 2em;
  position:relative;
  border-bottom: solid 1px #EEE;
  margin-bottom: 0;
  > div {
    width: 100%;
  }
  .img-container {
    display: none;
    @media(min-width: $bp-xxs) {
      display: block;
      min-height: 150px;
      max-width: 150px;
      min-height: 120px;
      margin-right: 1em;
    }
    @media(min-width: $bp-xs) {
      margin-right: 2em;
    }
  }

  img {
    width: 100%;
  }

  h3 {
    margin-top: 0;
    margin-bottom: .15em;
    letter-spacing: .5px;
    @media(min-width: $bp-xs) {
      margin-bottom: .5em;
    }
    a {
      display: flex;
      justify-content: space-between;
      span {
        @media(min-width: $bp-md) {
          max-width: 78%;
        }
      }
    }
    .small-tab {
      display: none;
      @media(min-width: $bp-md) {
        display: block;
        justify-content: center;
        text-align: center;
        min-width: 100px;
        max-height: 25px;
        margin-top: 3px;
        margin-left: .5em;
        font-size: .45em;
        font-weight: normal;
      }
    }
  }
  .btn {
    width: 30%;
    min-width: 70px;
    max-width: 130px;
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    @media(min-width: $bp-sm) {
      width: auto;
    }
  }
}

.small-tab {
  display: inline-flex;
  margin: 0 1em 0 0;
  margin-bottom: 1em;
  padding: .4em .5em;
  background: #E3E3E3;
  color: #878787;
  font-size: .8em;
  border-radius: 3px;
  opacity: .6;

  &.inline {
    display: inline-flex;
    background: none;
    color: #C2C2C2;
    margin-left: 0.5em;
  }
}

.copy-light {
  opacity: .3;
}

.inline-flex {
  display: inline-flex;
  align-items: baseline;
  > * {
    margin-right: 1em;
  }
}

.max-width-50 {
  max-width: 50%;
}

@import 'styles/form.scss';



.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.73);
    z-index: 5;
}

.modal {
    max-width: 450px;
    margin: auto;
    margin-top: 5%;
    z-index: 6;
    background: #FFF;
    text-align: center;
    padding: 2em;
    box-shadow: 0 11px 32px #000;
}


.modal button {
  margin-top: 1em;
}
